
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,700,800,900,600);

body {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;  
  color: #333;
  -webkit-font-kerning: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: visible !important; 
  position: relative;
}
/* 1.5 - Button */
button.button {  background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border-style: solid;border-color:#aaaaaa;border-width: 1px;color: #666666; cursor: pointer; margin: 0;  overflow: visible; padding: 0; width: auto;transition: 400ms  ;}
button.button span {display: block;  font-family: "Montserrat",sans-serif; font-size: 13px;height: 35px; line-height: 35px; padding: 0 20px; text-align: center;  text-transform: uppercase;  white-space: nowrap;}
button.button span span { padding: 0;}
.btn.btn-theme.btn-theme-red {border: 1px solid #aaa; border-radius: 0; height: 38px; padding: 0 15px;line-height: 38px;}
.btn.btn-theme.btn-theme-red:hover {background: #ff5555 ;  border-color: #ff5555; color: #fff;}
.form-button:hover { background: #f5f5f5  ;border: 1px solid #aaa; color: #333;}
button.button:hover { background: #ff5555  ; border-color: #ff5555; color: #fff;}
.form-button { background: #ff5555  ;color: #fff; text-transform: uppercase;}
td{
    font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* 1.6 - Form / Input / Textarea / Select*/
.form-control {-webkit-appearance: none;	
	-webkit-box-shadow: none;
	box-shadow: none;
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ebebeb;
    border-radius: 0; 
    color: #808080;
    height: 40px;
    
}
/* 8.1 - 404 Page */
.page-not-found {
    text-align: center;
}

.page-not-found h2 {
    color: #333;
    font-family: "Montserrat",sans-serif;
    font-size: 28px;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
